<div>
    <form novalidate ng-submit="loadPage(p)">
        <div class="form-group col-md-6">
            <label for="minPriceField">Минимальная цена</label>
            <input class="form-control" type="text" ng-model="filter.minPrice" id="minPriceField">
        </div>
        <p></p>
        <div class="form-group col-md-6">
            <label for="maxPriceField">Максимальная цена</label>
            <input class="form-control" type="text" ng-model="filter.maxPrice" id="maxPriceField">
        </div>
        <p></p>
        <div class="form-group col-md-6">
            <label for="titleField">Название</label>
            <input class="form-control" type="text" ng-model="filter.title" id="titleField">
        </div>
        <p></p>
        <div>
            <button class="btn btn-primary" type="submit">Применить фильтр</button>
            </div>
    </form>
</div>
<div>
    <table class="table">
        <thead>
        <tr>
            <td>ID</td>
            <td>Название</td>
            <td>Цена</td>
            <td></td>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in productsPage.content">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td>
                <button class="btn btn-primary" ng-click="addToCart(p.id)">To Cart</button>
                <button class="btn btn-primary" ng-click="deleteProduct(p.id)">Delete</button>

            </td>
        </tr>
        </tbody>
    </table>

    <p></p>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li ng-repeat="p in navList" class="page-item">
                <a class="page-link" ng-click="loadPage(p)">{{p}}</a>
            </li>

        </ul>
    </nav>

</div>
